

span {
    font-size: x-large;
    font-size: italic;
    text-decoration: underline;
}

.headline {
    font-variant-caps: small-caps;
}

#world {
    text-align: right;
}

div>span {
    text-indent: 20%;
}